<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://mail.qq.com/cgi-bin/ftnDownload302?sid=vwno2rFwkq9ub28P&fid=2%2F84586b38-2da0-42a1-9f48-66d1a3980c75&code=218e4b50&k=68313865068be7d4845a05651262071f0a050d5d020006081f035c04044f01025300155c52560d1d04075c5455510c0802520f5034473568075c5f066b531b051c0967114c0146566d545611511045425b425d3a470b525e1c5848043414</string>
<key>New item</key>
<string></string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.tencent.MGCIOS</string>
<key>bundle-version</key>
<string>1.1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>ygmd</string>
</dict>
</dict>
</array>
</dict>
</plist>
